p {
	font-family: 'Open Sans', sans-serif;
}
#special-chars {
	display: flex;
	flex-wrap: wrap;
}
#special-chars > button {
	font-size: 16pt;
	width: 25pt;
	height: 25pt;
	text-align: center;
	font-family: 'Courier Prime', monospace;
	background-color: #004427;
	color: #C0D6CD;
	border-color: #509C7B;
}
label {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
}
input[type=text] {
	font-family: 'Courier Prime', monospace;
	font-size: 20pt;
	width: calc(100% - 4.4px);
	background-color: #509C7B;
	border: 1pt solid #00110A;
	border-radius: 5pt;	
	color: #00110A;
	height: 26pt;
	padding-top: 3pt;
	padding-left: 2pt;
	padding-right: 2pt;
}
::selection {
	background: #C0D6CD
}
::-moz-selection {
	background: #C0D6CD
}